{% extends "layouts/main.html" %}

{% block content %}
  <div class="grid">
    {% if course.owner == current_user %}
      <a class="btn btn-warning mb-5" href="{{url_for('course.edit', code=course.code)}}">Düzenle</a>
    {% endif %}

    <h2 class="font-semibold text-3xl text-center text-sky-700">{{ course.name }}</h2>
    <div class="divider"></div>
    <div class="card w-100 bg-base-100 shadow-xl h-full">
      <div class="card-body">
        {{ course.description }}
      </div>
    </div>

    <div class="card w-100 bg-base-100 shadow-xl mt-10">
      <div class="card-body items-center">
        <div class="aspect-w-16 aspect-h-9">
          <div class="alert alert-info text-white mb-10">Bu alan statik olarak oluşturulmuştur. Sonraki çalışmalarda dinamik hale getirilecektir.</div>
          <iframe src="https://www.youtube.com/embed/kqtD5dpn9C8" width="640" height="360" frameborder="0" allow="autoplay; fullscreen; picture-in-picture" allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
{% endblock %}